<div id="logo" class="my-4 px-6">
  <h1 class="text-lg md:text-2xl font-bold text-white">
    Prueba
    <span class="text-blue-500">Técnica</span>.
  </h1>
  <p class="text-slate-500 text-sm">
    <button class="btn btn-primary" (click)="CerrarSesion()">
      Cerrar Sesión
    </button>
  </p>
</div>
<div id="profile" class="px-6 py-10">
  <p class="text-slate-500">Bienvenido,</p>
  <a href="#" class="inline-flex space-x-2 items-center text-decoration-none">
    <span>
      <img
        class="rounded-full w-8 h-8"
        src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=128&q=80"
        alt=""
      />
    </span>
    <span class="md:text-base font-bold text-white"> Josue Minaya </span>
  </a>
</div>
